<template>
<div>

  <b-row>
    <b-col>
      <b-row
      class="my-row"
      >
        <div class="d-flex flex-row btns">
          <button @click="analize" id="btn_lex" class="lex"><b-icon class="play" icon="play-fill"></b-icon></button>
          <button @click="clean"  class="lex"><span class="clean">Limipar</span></button>
          </div>
      </b-row>
      <b-row
      class="mt-4 mb-4 my-row-2"
      >
      
      <b-col>
        <div class="container">
        <textarea class="area" id="txt_area"></textarea>
      </div>
      </b-col>
      <b-col>
          <b-card
          class="my-card"
          >
            <div class="scrollable">
            <table id="MiTabla" >
            <tr>
              <th>Token</th>
              <th>Lexema</th>
              <th>Linea</th>
              <th>Tipo</th>
            </tr>
            <tbody>

            </tbody>
            </table>
            </div>
          </b-card>
      </b-col>
      

      </b-row>
      
    </b-col>
  </b-row>


  
</div>
</template>

<script>


import { LM,Type,ConfirmR,Reserved } from '@/javascript/Arrays.js';

import { generate_table,delete_rows,table_error } from '@/javascript/Table.js';


import { Syntax } from '@/javascript/Syntax.js';

export default {
  name: 'HelloWorld',
  data () {
    return {

    }
  },
  methods:{
  
    clean(){
      document.getElementById("txt_area").value=''
    },
    analize(){
      delete_rows()
      var sourceCode = "";
      var values = [];
      var syntacticTokens ={};
      var linesForSyntax = {};
      var char = '';
      var column = 0;
      var row = 0;
      var token=0;
      var lexeme="";
      var string="";
      var line = 0;
      var cont=0;
      var dire = 0;
      var reserved = false;


    sourceCode = document.getElementById("txt_area").value+"\uffff";
  
    for(var index=0; index<sourceCode.length;index++){

        char = sourceCode.charCodeAt(index);
        string  = sourceCode.split("");
        
        if(char>=65 && char<=90 || char>=97 && char<=122)
        {
            column = 0;
            
         
        }
        else if(char>=48 && char<=57){
            column = 1;
       
        }else {

            switch(char){
                case 59: column = 2;  break;
                case 44: column = 3;  break;
                case 63: column = 4;  break;
                case 36: column = 5;  break;
                case 43: column = 6;  break;
                case 45: column = 7;  break;
                case 40: column = 8;  break;
                case 41: column = 9;  break;
                case 123: column = 10;  break;
                case 125: column = 11;  break;
                case 46:  column = 12;  break;
                case 60: column = 13;  break;
                case 62: column = 14;  break;
                case 61: column = 15;  break;
                case 33: column = 16;  break;
                case 42: column = 17;  break;
                case 34: column = 18;  break;
                case 32: column = 19;  break;
                case 10: column=20;line = line+1; break;
                case 47:column=21;break;
                default:column=22;break;
                case 65535: column=23;break;
                case 38:column=24;break;
                case 64:column=25;break;




            
            }
        }

        token = LM(row,column);

        if(token>0){

            row = token;
            lexeme = lexeme+sourceCode[index];
       

        }else if(token<0){
        
            if(token<=-500){
              
                values = [token,lexeme,line,Type(token)];
                generate_table(values);
                //table_error(cont,token);
                cont=cont+4;
                index--;
                row = 0;
                lexeme = "";

            }else{

                if(token==-100){
                    reserved = ConfirmR(lexeme);
                        if(reserved)
                        {
                            token = parseInt(Reserved(lexeme));
                        }
                            
                            values = [token,lexeme,line,Type(token)];
                            generate_table(values);
                            lexeme = "";
                            row = 0;
                            index--;
                            cont=cont+1;
                            
                            syntacticTokens[dire]=token;
                            linesForSyntax[dire] = line;
                            dire++;
                            
                }else{
                            
                            values = [token,lexeme,line,Type(token)];
                            generate_table(values);
                            index--;
                            row = 0;
                            lexeme = "";
                            cont=cont+1;
                            if(token!=-126&&token!=-127)
                            {
                                syntacticTokens[dire]=token;
                                linesForSyntax[dire] = line;
                                dire++;
                           
                            }
                            
              
                    }
                
            }

      
        }

    }
    
    let sintactictAnalysis = new Syntax(syntacticTokens,dire,linesForSyntax);
    sintactictAnalysis.Analyisis();  
    }
  }
}
</script>


<style scoped>
.my-row-2{
  margin-right: 1rem;
}
.my-row{
  margin-right: 1rem;
}
.btns{
  margin-left: 1rem ;
}
.row-table{
  display: flex;
  justify-content: center;
  align-items: center;
}
.area{
  color: #0a0a0a;
  width:100%;
  height: 30rem;
  border-style: none;
  border-radius: 4px;
  resize: none;
  outline: none;
  box-shadow: 0 0 0.5rem #000;
}



.lex{
    color: rgb(0, 0, 0)rtant;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    position: relative;
    margin: 0.5rem;
    transition: 0.5s ease;
  }
.lex:hover{
  transform: scale(1.2);
  transition: 0.5s ease;
  background: #000;
}
.lex:hover .play{
  color: #fff;
  transition: 0.5s ease;
}
.lex:hover .clean{
  color: #fff;
  transition: 0.5s ease;
}
.alert{
color: crimson;

}

table {
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 690px;
    color: #000;
    border-radius: 4px;
    
 }
  td {
    background-color: rgb(48, 44, 44);
    border-color: white;

    width: 25%;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


 th{
     
    height: 40px;
    background-color: #1f1f20;
    padding-left: 1rem;
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 tr:hover td{
    background-color: rgb(255, 255, 255);
    color: rgb(48, 44, 44);
    

 }
 .scrollable{
  overflow: auto;
  height: 250px;
  width: 710px;


 }
textarea::-webkit-scrollbar,.scrollable::-webkit-scrollbar {
  width: 15px;
  cursor: pointer;
}

/* Track */
textarea::-webkit-scrollbar-track ,.scrollable::-webkit-scrollbar-track {
  background: #DADADA; 
}
 
/* Handle */
textarea::-webkit-scrollbar-thumb,.scrollable::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover,.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1{
    border-radius: 0.1cm;
    background-color: rgb(228, 176, 163);
    background-color: rgb(152, 214, 123);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(206, 38, 38);
}

.error{

  background-color: red;
}

.my-card{
  box-shadow: 0 0 0.5rem #000;
}

.play{
  font-size: 2rem;
}
</style>
